span.form-result {
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;

  a {
    color: white;
  }
}

span.goal-column-increase,
span.goal-column-decrease {
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

span.form-result.win, span.goal-column-increase {
  background-color: $win-color;
}

span.form-result.draw {
  background-color: $draw-color;
}

span.form-result.loss, span.goal-column-decrease {
  background-color: $loss-color;
}

div.preview {
    dl.match-preview {        
        margin-bottom: 0px;
    }
}

table.match-date-fixtures {
    dl.match-preview {        
        padding-top: $padding-base-vertical;
    }
}